/* AdminDashboard.module.css */
.dashboardContainer {
  display: flex;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
}

.leftPanel {
  display: flex;
  flex-direction: row;
  width: 50%; /* 전체 화면의 50% */
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.rightPanel {
  flex: 1; /* 나머지 50% */
  padding: 1rem;
  overflow-y: auto;
}

.leftPanel > *:first-child {
  width: 48%; /* StockStatus */
}

.leftPanel > *:last-child {
  width: 52%;
}
