/* StockStatus.module.css */
.container {
  padding: 1rem;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.9rem;
  height: 7vh;
}

.listItem:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.itemName {
  font-weight: 500;
  color: #333;
}

.current {
  font-weight: 400;
  color: #666;
}

.lastUpdate {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
}
