/* 전체 페이지 스크롤 제거 */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.homeLayout {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px); /* NavBar 제외 */
  overflow: hidden;
}

/* 좌측 70% 배너 */
.leftBanner {
  flex: 7;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.bannerImage.active {
  opacity: 1;
}

/* 우측 30% 메뉴 그룹 */
.rightMenu {
  flex: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.menuGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.menuGroup.active {
  opacity: 1;
}

/* 메뉴 아이템 위아래 50% */
.menuItem {
  flex: 1;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.menuItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
